#feed {
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

article.tweet {
  border: 3px solid #ffb325;
  margin: 1em;
  
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article header img {
  width: 50px;
  height: auto;
}

article header > div {
  display: inherit;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
}

article header > div > p {
  margin-left: 0.5em;
}

article header > a {
  margin-right: 1em;
  text-decoration: none;
  color: #313131;
}

article div.tweet-content {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: 3px solid #ffb325;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > p {
  margin-left: 1.5em;
  font-size: 14px;
}

footer > div {
  margin-right: 1em;
}

article.tweet:hover {
  box-shadow: 10px 10px #ffa825;
  text-shadow: .5px .5px #ffb325;
}

article.tweet:hover .username {
  color: #ffb325;

}