header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #053600;
  background-image: url("/images/skulls.png");
  background-size: 400px;
  background-position: center;
  color: #fff;
}