nav {
  height: 120px;
  background-color: #4056A1;
  color: #fff;
  padding: 1.5em;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 1cm;
}