.new-tweet {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

textarea {
  width: 500px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 5px solid #ffb325;
  color: #ffb325;
  background-color: #313131;
  resize: none;
  outline: none;
  overflow-y: scroll;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #cf5300;
  border-radius: 5px;
}

textarea::placeholder {
  font-weight: bold;
}

textarea:hover {
  box-shadow: 0 0 4px #888888;
}

.counter {
  float: right;
  font-family: 'Bungee', sans-serif;
}

.counter-negative {
  color: red;
}

.new-tweet button {
  background: #cf5300;
  font-family: 'Bungee', sans-serif;
  color: #fff;
  border: none;
  padding: 5px;
}